body {
	background-color: #eee;
	padding-bottom: 0;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.overflow-hidden {
    overflow: hidden;
}

.position-relative {
	position: relative;
}

.box-shadow {
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}


@media screen and (min-width: 768px) {
	.text-md-left {
		text-align: left;
	}
}
#slides{
	margin:0.8;
	text-align:center;
	max-width:920px;
	max-height:920px;
	margin: 0 auto;
	margin-top:15px;
	padding:0px;
	word-spacing: 0px;
	background: rgba(255, 255, 255, 1);
}
img.slide{
	width: 230px;
	height: 230px;
	}
@media screen and (max-width: 980px) {
#slides{
	max-width:590px;
	max-height:590px;
}
img.slide{
	width: 147px;	
	height: 147px;
}
}
@media screen and (max-width: 650px) {
#slides{
	max-width:420px;
	max-height:420px;
}
img.slide{
	width: 105px;	
	height: 105px;
}
}
@media screen and (max-width: 480px) {
#slides{
	max-width: 260px;
	max-height:260px;
}
img.slide{
	width: 130px;	
	height: 130px;
}
.slick-dots
{
    bottom: -52px !important;
}
